@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Estilos base */
body {
  @apply bg-white text-neutral-900 dark:bg-neutral-900 dark:text-white;
}

/* Transiciones suaves para el cambio de tema */
*,
*::before,
*::after {
  transition-property: background-color, border-color, color, fill, stroke, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 50ms;
}